{{ define "head-styles" }}
  {{ $pageCSS := "scss/index.scss" }}
  {{ $options := (dict "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "header" }}
{{ end }}

{{ define "main" }}
  <div class="main-grid">
    <div class="hero">
      <h1 class="main__title hero__title">Bob is what grid was meant to be</h1>
      <img
        class="hero__img"
        src="https://images.unsplash.com/photo-1517938021627-eec2bbe94dcd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt=""
        class="hero-img"
      />
      <div class="hero__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="btn" href="#">More info</a>
      </div>
    </div>

    <div class="sales-points even-columns three-columns">
      <div class="sales-points__sales-point">
        <h2 class="sales-points__title">Easier</h2>
        <p class="sales-point__body">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="sales-points__sales-point">
        <h2 class="sales-points__title">Faster</h2>
        <p class="sales-point__body">
          Delectus perferendis doloribus mollitia quibusdam facere eius!
        </p>
      </div>
      <div class="sales-points__sales-point">
        <h2 class="sales-points__title">Consistent</h2>
        <p class="sales-point__body">
          Nostrum possimus, porro ipsam iure soluta est!
        </p>
      </div>
    </div>

    <div class="more-stuff even-columns">
      <div class="sales-points__sales-point">
        <h2 class="sales-points__title">Faster</h2>
        <p class="sales-point__body">
          Delectus perferendis doloribus mollitia quibusdam facere eius!
        </p>
      </div>
      <div class="sales-points__sales-point">
        <h2 class="sales-points__title">Consistent</h2>
        <p class="sales-point__body">
          Nostrum possimus, porro ipsam iure soluta est!
        </p>
      </div>
    </div>

    <div class="cta even-columns">
      <div>
        <h2>Sign up for our newsletter!</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo
          consequuntur repellat facilis provident dolorum laborum blanditiis
          veritatis, ipsa sequi cumque soluta quod fugiat dolorem quam.
        </p>
        <label
          >Your email: <input type="text" placeholder="sam@example.com"
        /></label>
      </div>
    </div>

    <div class="full-split even-columns">
      <img src="//unsplash.it/600" alt="" />
      <p class="v-center bg-dark p-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quisquam
        distinctio laudantium velit similique a ducimus, quae sint, adipisci
        quidem eaque voluptate illum aut. Dolorum inventore illum molestiae
        atque possimus?
      </p>
    </div>
  </div>
{{ end }}
